.header_wrapper > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_wrapper > ul > li{
    margin: 30px;
}

.btn{
    border: 1px solid #CC00FF;
    background: #000;
    width: 200px;
    border-radius: 22px;
}